* {
  margin: 0;
  padding: 0;
}

.mouse-container {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  position: relative;
}

.rect {
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: absolute;
}
